
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');


:root {
    --main-color:#1d383d;
    --accent-color: #cb0000;
    --accent-color-hover: #970101;
    font-family: 'Noto Sans', sans-serif;
    --my-white: #f7f7f7;
}

h1,
h2,
h3,
h4 {
    font-family: 'Kanit', sans-serif;
    color: var(--main-color);
}

.h1,
.h2,
.h3 {
    color: var(--accent-color);
}

a{
    color: var(--accent-color);
    transition: 0.3s ease-out all;
}
a:hover{
    color: var(--accent-color-hover);
    transform: scale(1.1);
}


.bg-img{
    background-image: linear-gradient( transparent, #f8f9fa),url('/media/slider_home.png');
    height: 100vh;
    width:100%;
    background-position: center;
    background-size: cover;
}

.button-custom{
    background-color: var(--accent-color);
    color: rgba(255, 255, 255, 0.932);
    transition: all 0.5s ease-in-out;
    margin: 5px;
    
}

.button-custom:hover{
    background-color: var(--accent-color-hover);
    color: rgba(255, 255, 255, 0.856);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.089);
    transform: scale(1.1);
}

.page-item.active .page-link{
    background-color: var(--accent-color);
    border-color: none;
}

.page-link:hover{
    color:var(--accent-color);
}

.footer {
    background-color: var(--main-color);
    min-height: 300px;
    color: var(--my-white);
}

.footer-copyright{
    background-color: var(--main-color);
    // height: 50px;
    color: var(--my-white);
}

.footer img {
    width: 80px;
}

.contacts {
    list-style: none;
    padding-left: 0px;
}

.contacts li {
    padding-right: 20px;
    padding-left: 20px;
    border-left: 2px solid var(--accent-color);
}

.text-my-w{
    color: var(--my-white);
    
}
.hr-my-white{
    width: 70%;
    border-top: 1px solid var(--my-white);
    margin: 1px;
}
/* .form-shadow{
    box-shadow: 0px 0px 10px rgba(247, 247, 247, 0.212);
} */

.bg-frame{
    background-image:url('/media/frame.jpg');
    height: 230px;
    background-position: center;
    background-size: cover;
   
}
.bg-frame-show{
    background-image:url('/media/show.jpg');
    height: 140px;
    background-position: center;
    background-size: cover;
   
}
.bg-nav{
    background-color:var(--my-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

.bg-frame-title{
    padding-top: 25%;
    color:#f7f7f7;

}



.article{
    transition: all 1s ease-in-out;
}

.article:hover{
    transform: rotateY(360deg);
}

.article img{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    border-radius: 10px;
    width: 80%;
    
}

.card-scale{
    transition: all 0.6s ease-in-out;
}

.card-scale:hover{
    transform: scale(1.1);
}


.title-blog{
    font-size: 30px;
}
.subtitle-blog{
    font-size: 20px;
}

.border-zoom{
    border: 4px solid var(--accent-color);
    padding: 3px;
}

.border-zoom:hover {
    border: 4px solid var(--accent-color-hover);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.089);
   
}

@media screen and (min-width: 950px){
.title-blog{
    font-size: 70px;
} 
.subtitle-blog{
    font-size: 45px;
}   
}


